.menu .logo {
  width: 50px;
  margin-right: 10px;
}
.main.menu {
  width: 200px !important;
}
.panel-content {
  margin-left: 200px !important;
}
.padding-30 {
  padding: 30px;
}
.login .column {
  max-width: 450px;
}
.login {
  height: 100%;
  width: 100%;
}
body.login-body {
  background-color: #ebebeb;
}