.menu .logo {
  width: 50px;
  margin-right: 20px;
}
.main.menu {
  width: 200px !important;
}
.panel-content {
  margin-left: 200px !important;
}
.padding-30 {
  padding: 30px;
}
.login .column {
  max-width: 450px;
}
.login {
  height: 100%;
  width: 100%;
}
body.login-body {
  background-color: #ebebeb;
}

/*debug*/
code > span{
  font-size: 12px;
  background-color: white;
  padding-left: 250px;
  display: block;
  border: 1px solid red;
}