body, div, h1, h2, h3, h4, h5, p, input, button, span {
  font-family: 'Karla', sans-serif !important;
  font-weight: 400;
}

:root {
  --primary-color-extra-light: #ffeed3;
  --primary-color-light: #ffa65d;
  --primary-color: #f2711c;
  --primary-color-dark: #c1611c;
  --primary-color-extra-dark: #8d4111;
}
/*:root {
  --primary-color-extra-light: #d5ffe8;
  --primary-color-light: #6cffb3;
  --primary-color: #18ff9a;
  --primary-color-dark: #17d476;
  --primary-color-extra-dark: #03ac66;
}*/

.font-light {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.text-white {
  color: #fff !important;
}

.border-bottom {
  border-bottom: 1px solid var(--primary-color)
}

.fancy-form input[type=text] {
  color: var(--primary-color) !important;
}

.label.togglable {
  /*background-color: #fff !important;*/
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 0 !important;
  background-color: var(--primary-color-extra-light) !important;
}
.labels.radio.fluid .label {
  margin-bottom: 10px !important;
}
.label.togglable.active {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.basic.button.active {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.ui.text.container {
  padding: 5em 0;
}

.input-with-prompt {
  position: relative;
}
.input-prompt {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  display: none;
}

.question.active {
  opacity: 1;
}

.question {
  opacity: 0.2;
}

.question:not(.main) {
  padding: 50px 0;
  height: 185px;
}
.main.question {
  position: relative;
}
.main.question .num {
  position: absolute;
  left: -50px;
}
.questions-wrapper {
  margin-top: calc(50vh - 250px);
}


/*placeholder colors*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--primary-color-extra-light) !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--primary-color-extra-light) !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--primary-color-extra-light) !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--primary-color-extra-light) !important;
}